<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container register-form">

    <loading-component [show]="loading"></loading-component>
    <div class="note">
      <p>Cadastro Usuário</p>
    </div>

    <div class="form-content">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome"> Nome</label>
            <input tabindex="1" type="text" name="nome" id="nome" class="form-control" placeholder="Seu Nome *"
              formControlName="nome" #nome/>
              <span id="nomeMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.nome.invalid && userForm.controls.nome.touched">O campo nome é
              obrigatório.</span>
          </div>
          <div class="form-group">
            <label>CPF</label>
            <input tabindex="2" type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF *" formControlName="cpf" [dropSpecialCharacters]="false" mask="000.000.000-00" />
            <span id="cpfMsg" class="text text-small text-danger"
            *ngIf="userForm.controls.cpf.invalid && userForm.controls.cpf.touched">O campo CPF é
            obrigatório.</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input tabindex="3" type="email" class="form-control" name="email" id="email" placeholder="E-mail *"
              formControlName="email" />
              <span id="emailMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">O campo E-mail é
              obrigatório.</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="endereco">Endereço</label>
            <input tabindex="4"  type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço *"
              formControlName="endereco" />
              <span id="cpfMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.endereco.invalid && userForm.controls.endereco.touched">O campo Endereço é
              obrigatório.</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="numero">Número</label>
            <input tabindex="5"  type="number" name="numero" id="numero" class="form-control" placeholder="Numero *"
              formControlName="numero" />
              <span id="numeroMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.numero.invalid && userForm.controls.numero.touched">O campo Número é
              obrigatório.</span>
          </div>
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input tabindex="6"  type="text" name="bairro" id="bairro" class="form-control" placeholder="Bairro"
              formControlName="bairro" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input tabindex="7"  type="text" name="complemento" id="complemento" class="form-control" placeholder="Complemento"
            formControlName="complemento" />
          </div>
          <div class="form-group">
            <label for="cep">CEP</label>
            <input tabindex="8"  type="text" name="cep" id="cep" class="form-control" placeholder="CEP *" formControlName="cep" [dropSpecialCharacters]="false" mask="00000-000"/>
            <span id="cepMsg" class="text text-small text-danger"
            *ngIf="userForm.controls.cep.invalid && userForm.controls.cep.touched">O campo CEP é
            obrigatório.</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="senha">Senha</label>
            <input tabindex="9"  type="password" name="senha" id="senha" class="form-control" placeholder="Sua Senha *"
            formControlName="senha" />
              <span id="senhaMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.senha.invalid && userForm.controls.senha.touched && userForm.controls.senha.value === userForm.controls.confirmaSenha.value">O campo Senha é
              obrigatório.</span>
              <span id="senhaMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.senha.invalid && userForm.controls.senha.touched && userForm.controls.senha.value !== userForm.controls.confirmaSenha.value">O campo Senha deve ser igual ao campo Confirmar Senha.</span>
          </div>
          <div class="form-group">
            <label for="confirmaSenha">Digite Novamente a Senha</label>
            <input tabindex="10"  type="password" name="confirmaSenha" id="confirmaSenha" class="form-control"
              placeholder="Confirma a Senha *" formControlName="confirmaSenha" />
              <span id="confirmasenhaMsg" class="text text-small text-danger"
              *ngIf="userForm.controls.confirmaSenha.invalid && userForm.controls.confirmaSenha.touched">O campo Confirmar a Senha é
              obrigatório.</span>
          </div>
        </div>
      </div>
        <button tabindex="11"  class="btnSubmit" type="submit" [disabled]="!userForm.valid">
        <span *ngIf="userId === null">Criar</span>
        <span *ngIf="userId != null">Atualizar</span>
      </button>
    </div>
  </div>
</form>
